<ul class="ulAbout">
    <li>
        Para devolver um produto por desistência/troca, as seguintes condições deverão ser observadas:
    </li>
    <li> prazo para desistir ou trocar sua compra são de 7 (sete) dias corridos, a contar do recebimento do produto.</li>
    <li>  Quando for troca ou devolução, o produto deverá estar na embalagem original, sem indícios de uso, sem violação da etiqueta original do fabricante.</li>
    <li> Só aceitamos troca sem a etiqueta quando for defeito de fabrica.</li>
</ul>
<h2>Troca:</h2>
<ul class="ulAbout">
    <li>
        Quando o produto que será trocado chegar aqui na Estilo F.C. o prazo para analise são de 3 dias úteis.  O valor do frete é pago pelo cliente. É necessário que o cliente já saiba por qual o outro deseja fazer a troca. Lembrando que após a analise o prazo de envio será o mesmo 5 dias úteis + o prazo dos correios.
    </li>
</ul>
<h2>Desistência:</h2>
<ul class="ulAbout">
    <li>
        Se o produto chegar em sua casa e quiser desistir, a devolução é gratis, o cliente deverá enviar o produto para nós através de PAC a cobrar. Assim que o produto chegar aqui na Estilo F.C. faremos o estorno do valor do produto comprado em até 5 dias úteis.
    </li>
</ul>
<h2>Produto com Defeito:</h2>
<ul class="ulAbout">
    <li>
        Caso tenha algum defeito comunicar a empresa nos canais de atendimento ou por e-mail contato@estilofc.com.br, assim será necessário o envio da camiseta de volta.
    </li>
    <li>
        Faremos a analise e confirmando o defeito de fabricação efetuaremos a troca ou devolução do dinheiro.
    </li>
</ul>
<h2>Aviso importante:</h2>
<ul class="ulAbout">
    <li>Quando receber o produto verifique se o mesmo está conforme o pedido;</li>
    <li>Não nós responsabilizamos por produtos com defeito, se estiver caracterizado mal uso.</li>
</ul>
<h2>Ressarcimento do valor:</h2>
<ul class="ulAbout">
    <li>
        Após concluído o processo de devolução do produto, a Estilo F.C. fará a restituição dos valores pagos pelo produto comprado, utilizando a mesma forma de pagamento escolhida no processo de compra. O estorno será feito em até 5 dias úteis.
    </li>
    <li>
        Em compras pagas com cartão de crédito, a administradora do cartão será notificada e o estorno ocorrerá na fatura seguinte ou na posterior, de uma só vez, qualquer que seja o número de parcelas utilizado na compra. O prazo de ressarcimento depende da administradora do cartão.
    </li>
    <li>
        Em compras pagas com boleto bancário, a restituição será efetuada por meio de depósito bancário, em até 10 (dez) dias úteis, somente na conta-corrente do(a) comprador(a), que deve ser individual. A restituição dos valores será processada somente após o recebimento e análise do(s) produto(s) devolvidos.
    </li>
    <li>
        Não realizamos trocas de produtos usados e nem com problemas devido a mal uso.
    </li>
    <li>
        No ato da entrega do pedido, verifique a encomenda. Caso esteja violada ou avariada, pedimos que recuse imediatamente a entrega e entre em contato pelo e-mail contato@estilofc.com.br.
    </li>
</ul>
