@section description
{
    <title>Troca e Devolução  @Infrastructure.Resources.HomeResource.TagTitle</title>
    <meta name="description" content="Estilo F.C., Troca e Devolução.">
}
<h2 class="page-title">Troca e Devolução</h2>
@Html.Partial("_Exchanges")