@section end
{
    <!-- Google Code for Compra Finalizada Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 932740819;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "k5zPCImjj2MQ0_3hvAM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/932740819/?label=k5zPCImjj2MQ0_3hvAM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
}


<div style="font-size: 62.5%;font-family: &quot;Trebuchet MS&quot;, Helvetica, sans-serif">
    <div>
        <div style="background: #000;border: 1px solid #CCC;border-radius: 10px;box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);margin: 0 auto;padding: 30px;width: 580px;height: auto">
            <h2 style="display: block;font-size: 25px;-webkit-margin-before: 0.83em;-webkit-margin-after: 0.83em;-webkit-margin-start: 0;-webkit-margin-end: 0;font-weight: normal;color: #95824F;border-bottom: solid 1px #95824F;padding-bottom: 5px;margin-bottom: 30px">Seu pedido foi finalizado</h2>
            <p style="font-size: 16px;margin-bottom: 15px;color: #FFF"><b style="color: #000001 001">Estilo F.C.</b> &eacute;  uma marca feita por boleiros, para boleiros.</p>
            <p style="font-size: 16px;margin-bottom: 15px;color: #FFF">A partir de agora é só aguardar, assim que o pagamento for compensado (de 1 a 3 dias utéis) iremos postar seu pedido nos correios e você irá receber um email do PagSeguro com o código de rastreio da sua encomenda.</p>
            <p style="font-size: 16px;margin-bottom: 15px;color: #FFF">Ficaremos muito felizes se voc&ecirc; puder contribuir dizendo <a href="#" class="showModalFeedback" title="Deixe sua opini&atilde;o" style="color: #95824F;text-decoration: underline;font-weight: bold">o que achou da Estilo F.C.</a>.</p>
            <p style="font-size: 16px;margin-bottom: 15px;color: #FFF">Muito obrigado pela sua compra.</p>
            <br /><p style="font-size: 16px;margin-bottom: 15px;color: #95824F;font-style: italic">Equipe Estilo F.C.</p>
        </div>
    </div>
</div>

