@using Infrastructure.Resources

<nav class="main-nav">
   
    <ul class="nav">
        <li><a href="@Url.Action("Index", "Home")">@MenuResource.Home</a></li>
        <li><a href="#" class="showPageBasket" title="Increva-se">Como anunciar</a></li>
        <li><a href="#" class="showModalFeedback" title="Divulgue">Quanto eu ganho ?</a></li>
        <li><a href="#" class="showModalFeedback" title="Ganhe">FAQ</a></li>
    </ul>
    
</nav>
