@using Infrastructure.Resources
@section description
{
    <title>@InstitutionalResource.About @HomeResource.TagTitle</title>
    <meta name="description" content="Estilo F.C., Missão: Levar inspiração e inovação para todos que amam jogar futebol.">
}
<h2 class="page-title">@InstitutionalResource.About</h2>

<p>O Estilo F.C. - Loja virtual nasceu para trazer o futebol arte de volta para o Brasil, vestindo e inspirando futuros craques.</p>

<p>Missão: Levar inspiração e inovação para todos que amam jogar futebol.</p> 
<p>Visão: Ser uma referência em moda esportiva, especificamente para o futebol.</p> 
<p> Valores: Empresa inovadora que proporciona modernidade, atendendo um publico apaixonado por futebol.</p> 

    <br />
<p>Entregaremos em todo Brasil!</p>
<h2 class="subtitle">
    Seja cliente Estilo F.C. e aproveite
</h2>
<ul class="ulAbout">
    <li>Estilo</li>
    <li>Preço</li>
    <li>Qualidade</li>
</ul>
