@using Infrastructure.Resources
@section description
{
    <title>@InstitutionalResource.PrivacyPolicy @HomeResource.TagTitle</title>
    <meta name="description" content="A Estilo F.C. sabe da importância e da responsabilidade de guardar com segurança e total confidencialidade as informações fornecidas, empenhamos tempo e investimentos para criar normas e processos internos que garantam a sua privacidade e segurança total dos seus dados.">
}
<h2 class="page-title">@InstitutionalResource.PrivacyPolicy</h2>
<p>
    A Estilo F.C. sabe da importância e da responsabilidade de guardar com segurança e total confidencialidade as informações fornecidas, empenhamos tempo e investimentos para criar normas e processos internos que garantam a sua privacidade e segurança total dos seus dados.
    A seguir você conhecerá quais informações são coletadas e como estas informações são tratadas na com.br
</p>
<h3 class="subtitle">
    POR QUE PRECISAMOS COLETAR ALGUMAS INFORMAÇÕES?
</h3>
<p>
    Da mesma forma que nas compras em lojas tradicionais do mundo físico precisamos fornecer algumas informações para concluir o processo de compra, na internet ocorre da mesma forma, alguns dados pessoais como nome completo, CPF, RG, endereço completo de entrega, enfim, todas as informações necessárias para identificar quem está comprando e proceder com a entrega.
</p>
<h3 class="subtitle">
    QUAIS INFORMAÇÕES SÃO COLETADAS?
</h3>
<p>   Cadastro: Para realizar um pedido há necessidade da realização de um cadastro de clientes, os dados solicitados são:</p>
<p>
    <ul class="institucional-list">
        <li>Nome completo</li>
        <li>
            E-Mail
        </li>
        <li>
            Endereço completo, inclusive de entrega
        </li>
        <li>
            Telefone de contato
        </li>
        <li>
            CPF
        </li>
    </ul>
</p>
<h3>  Cookies:</h3>
<p>
    As compras pela internet proporcionam ao consumidor uma nova experiência, tudo isto é possível graças a novos recursos tecnológicos, dentre muitos outros recursos podemos citar os Cookies que são pequenos arquivos temporários de texto que nos permite oferecer cada vez mais produtos personalizados. Estes cookies permitem identificar a sua navegação dentro da loja. Nos navegadores onde este recurso está desativado não é possível a realização de pedidos.
</p>

<h3>
    Política anti-SPAM
</h3>
<p>
    SPAM é definido como sendo a prática de envio de e-mails sem prévia solicitação. Somos contra o Spam na internet, apenas enviamos e-mails oferecendo produtos para os usuários que soliticitaram o recebimentos deste informativos.
</p>
<h3 class="subtitle">
    SOBRE NÚMERO DO MEU CARTÃO DE CRÉDITO?
</h3>
<p>
    A loja não tem acesso aos números de cartão de crédito, todo processo de autorização ocorre entre o computador do usuário e o computador da operadora do cartão sem intervenção humana.
</p>
<p>
    O mesmo vale para as transações envolvendo o serviço dos bancos e financeiras.
</p>

<h3 class="subtitle">
    O QUE SERÁ FEITO COM ESTAS INFORMAÇÕES?
</h3>
<p>
    Dados pessoais: São utilizados exclusivamente para emissão de documentos fiscais e futuros contatos.
</p>
<p>
    Cookies: É necessário apenas para navegação e conclusão do pedido podendo ser removido em seguida, caso não seja removido o seu ciclo de vida dura apenas 24 horas.
</p>


<h3 class="subtitle">
    O QUE NÃO SERÁ FEITO COM ESTAS INFORMAÇÕES?
</h3>
<ul class="institucional-list">
    <li>
        Em hipótese alguma nosso banco de dados será fornecido a terceiros, salvo em cumprimento a alguma ordem judicial.
    </li>
    <li>
        Negligência no seu manuseio.
    </li>
    <li>
        Explorar de outra forma que não seja para manter o contato e o relacionamento com cliente.
    </li>
</ul>
<h3 class="subtitle">EDIÇÃO DOS DADOS</h3>
<p>
    A qualquer momento de posse do e-mail cadastrado e da senha exclusiva os seus dados poderão ser atualizados.
</p>
<p>
    No ambiente Físico:
</p>
<p>
    Fazemos uso de processos internos e tecnologias que permitem manuseio das informações de forma segura para impedir que a informação saia da empresa, sendo o acesso restrito a funcionários atráves de autenticação com uso de login e senha de acesso, não é permitido a gravação em discos removíveis, a impressão de documentos com informações dos clientes é restrito a notas fiscais e etiquetas de endereço que são numeradas e passam por rigoroso controle.
</p>
<p>
    Esta Política de privacidade poderá ser eventualmente alterada.
</p>
