@using Infrastructure.Resources

<div id="MiniBasket" class="basket">
    <a href="#" class="showPageBasket">
        <div class="qtd">
            <span>@HomeResource.YoursBasket @HomeResource.Has</span> <strong class="totalItens"></strong> @HomeResource.Products
        </div>
        <p class="total"><b>@HomeResource.Total</b> <span class="totalValue"></span></p>
    </a>
</div>

