<!--[if IE 7]>
    <div class="browser-update-overlay"></div>
    <div class="browser-update-text">
		<p>Você está navegando através do <b>Internet Explorer versão 7</b>, navegador um <b>desatualizado</b>. Isto compromente sua experiência de uso no nosso site, além da sua segurança.</p>
		<p> Por favor <a href="http://browsehappy.com/" target="_blank">atualize seu navegador</a> ou <a href="http://www.google.com/chromeframe/?redirect=true"  target="_blank">ative o Google Frame</a> para melhorar sua experiência.</p>
    </div>
<![endif]-->	

<!--[if IE 8]>        
	      <script type="text/javascript" src="@Url.Content("~/Scripts/Views/Shared/IE9.js")"></script>
<![endif]-->    