@using Infrastructure.Resources
<div hidden="true">
    <div id="modalMessage" tabindex="-1"> 
        <div class="modal-login">
		    <h3 class="title" id="titleMessage"></h3>
		    <div class="content">			
                <p id="message"></p>
				<span class="form-item actions">
					<input type="button" id="okMessage" value="@ModalResource.Ok" class="btn">
				</span>		
		    </div>
	    </div>
    </div>
</div>