@section description
{
    <title>Estilo F.C. - Parceiros</title>

}
<div style="padding-top:50px; margin-left:8px">
    <ul class="parceiro-list">
        <li class="item">
            <a href="#">
                <div class="picture">
                    <img src="#" alt="#" />
                </div>
                <p class="description">
                    É muito simples se tornar um parceiro,faça agora mesmo.
                </p>
                <p class="priceBy description">1. INSCREVA-SE</p>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <div class="picture">
                    <img src="#" alt="#" />
                </div>
                <p class="description">
                    Recebe um código promocional especial para atrair mais clientes.
                </p>
                <p class="priceBy description">2. DIVULGUE</p>
            </a>
        </li>
        <li class="item">
            <a href="#">
                <div class="picture">
                    <img src="#" alt="#" />
                </div>

                <p class="description">
                    Você pode lucrar até  R$ 10 reais por venda e ganhar premios exclusivos.
                </p>
                <p class="priceBy description">3. GANHE</p>

            </a>
        </li>
        <li class="item">
            <a href="#">
                <div class="picture">
                    <img src="#" alt="#" />
                </div>

                <p class="description">
                    Receba de forma simples, na sua conta do pague seguro.
                </p>
                <p class="priceBy description">4. RECEBA</p>

            </a>
        </li>
    </ul>
</div>