.form label { font-size: 16px; display: block; margin-bottom: 3px; color: #95824F; }
.form-item { float: left; margin: 0 20px 20px 0; }
    .form-item.actions { padding-top: 20px; }
.form-text { border: solid 1px #ccc; padding: 5px; height: 40px; font-size: 16px; color: #000; border-radius: 5px; }
.form-link { font-size: 16px; font-weight: bold; color: #95824F; text-decoration: underline; }
.form-select { border: solid 1px #010101; padding: 10px 5px 5px; height: 40px; font-size: 16px;background-color:#FFF ;  color: #000; border-radius: 5px; }
.form-radio input { margin-right: 5px; }
.form-textarea { border: solid 1px #ccc; padding: 5px; height: 120px; font-size: 16px; color: #000; border-radius: 5px; }
.form-item.clear { display: block; float: none; }

.form-cadastro { width: 650px; }
    .form-cadastro .form-item { width: 300px; }
    .form-cadastro .form-link { width: 300px; }
    .form-cadastro .form-text { width: 100%; }
    .form-cadastro .form-radio { display: inline-block; margin: 9px 20px 0 0; height: 32px; }
    .form-cadastro .actions { clear: both; }

.form-contato .form-item { width: 360px; }
    .form-contato .form-item .form-text { width: 100%; }
    .form-contato .form-item.full { width: 100%; }
.form-contato .form-textarea { width: 620px; }

.form-entrega .form-item { width: 280px; }
    .form-entrega .form-item .form-text,
    .form-entrega .form-item .form-select { width: 100%; }
.form-entrega .actions { border-top: 1px solid #95824F; float: left; margin-top: 20px; padding-top: 20px; width: 740px; }
.actions { margin-bottom: 30px; overflow: hidden;  align-content:center }
    .actions .continuar { float: left; }
    .actions .finalizar { float: right; }
input.error, select.error, textarea.error.error { border: 1px #f00 solid; }
.form label.error { font-size: 14px; display: block; margin-bottom: 0px; color: #f00; }
.form a.error { color: #95824F; text-decoration: underline; font-size: 14px; }
.form label.message { font-size: 14px; display: block; margin-bottom: 0px; color: #FFF; margin-top: 5px; }
.form a.message { color: #95824F; text-decoration: underline; font-size: 14px; }
